---
import { Image } from "astro:assets";

const { href, src, alt, elevation = false } = Astro.props;
---

<a {href} class="relative">
  <Image {src} {alt} class=`absolute h-auto w-full object-cover rounded-3xl blur-xl ${elevation == false ? "hidden" : ''}`/>
  <Image {src} {alt} class="h-auto w-full object-cover rounded-3xl"/>
  <div
    class="absolute top-0 w-full h-full flex flex-col justify-between p-8 bg-gradient-to-b from-black/25 from-0% to-black/65 to-100% backdrop-blur-2xl rounded-3xl text-white"
  >
    <slot />
  </div>
</a>
